:root {
    --brand-purple: #5D2E8C;
    --brand-pink: #A64AC9;
    --dark-navy: #1F1135;
    --soft-white: #F8F5FA;
    --soft-pink: #f1b6d9;
    --transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dark-mode {
    --brand-purple: #06202b;
    --brand-pink: #077a7d;
    --dark-navy: #7ae2cf;
    --soft-white: #F8F5FA;
    --soft-pink: #f5eedd;
}

body {
    font-family: "Nunito", sans-serif;
    background: linear-gradient(135deg, var(--brand-purple) 0%, var(--brand-pink) 100%);
    min-height: 100vh;
    padding-top: 80px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden; /* Εγγύηση ότι δεν θα υπάρξει οριζόντιο scroll */
    width: 100%;
}