:root {
    --brand-purple: #5D2E8C;
    --brand-pink: #A64AC9;
    --dark-navy: #1F1135;
    --soft-white: #F8F5FA;
    --soft-pink: #f1b6d9;
    --transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: var(--soft-white);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden; /* Εγγύηση ότι δεν θα υπάρξει οριζόντιο scroll */
    width: 100%;
}